.image-gallery-icon {
  position: absolute;
  transition: all 0.2s ease-out;
  z-index: 10;
}

.image-gallery-svg {
  height: 50px;
  width: 50px;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  bottom: 20px;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  width: 30px;
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  top: 20px;
}

.image-gallery-fullscreen-button {
  right: 20px;
}

.image-gallery-fullscreen-button .image-gallery-svg {
  height: 30px;
  width: 30px;
}

.image-gallery-play-button {
  left: 20px;
}

.image-gallery-left-nav {
  right: 60px;
}

.image-gallery-right-nav {
  right: 20px;
}

.image-gallery-content {
}

.image-gallery-slide-wrapper {
  position: relative;
}

.image-gallery-slide-wrapper.image-gallery-rtl {
  direction: rtl;
}

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-align: center;
}

.image-gallery-slide {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.image-gallery-slide.center {
  position: relative;
}

.image-gallery-slide .image-gallery-image {
  object-fit: cover;
  width: 100%;
}

.image-gallery-thumbnails-wrapper {
  align-items: center;
  display: none;
  margin-block-start: 30px;

  @media screen and (min-width: 60rem) {
    display: grid;
  }
}

.image-gallery-thumbnails-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: fit-content(10vw);
  gap: 30px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.45s ease-out;
  white-space: nowrap;
}

.image-gallery-thumbnails {
  overflow: hidden;
}

.image-gallery-thumbnail {
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-radius: unset;
  padding: unset;
  padding-block-end: 10px;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
  border-bottom-color: black;
}

.image-gallery-thumbnail-image {
  width: 100%;
}

.image-gallery-content.fullscreen {
  background: white;
}

.image-gallery-content.fullscreen .image-gallery-slide-wrapper {
}

.image-gallery-content.fullscreen .image-gallery-slide {
  border-radius: unset;
}
.image-gallery-content.fullscreen .image-gallery-image {
  height: 100vh;
}

.image-gallery-content.fullscreen .image-gallery-thumbnails-wrapper {
  bottom: 0;
  left: 0;
  margin-block-end: 20px;
  position: fixed;
  right: 0;
}
